.HomePage {
  min-width: 300px;
  min-height: 400px;
  max-width: 1024px;
  max-height: 800px;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}
.CTA {
  height: 500px;
  width: 100%;
  background-image: url(img/wanderlustv1.7.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  padding: 5%;
  margin: auto;
}
.LOGO-content h1, h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 4em;
  font-weight: 600;
  opacity: 0.9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.cardWrapper {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;

}
.cardWrapperCTA {
  height: 600px;
  width: 100%;
  background-image: url(img/dream.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  padding: auto;
  margin: auto;
}
.wrappepdCard {
  padding: 20px;
}

.Footer {
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: whitesmoke;
}